input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=date],
input[type=time],
input[type=tel],
input[type=url],
input[type=search],
input[type=datetime-local],
select,
textarea {
    background-color: var(--surface-med);
    border: none;
    font-size: 1rem;
    font: inherit;
    border-radius: var(--border-radius-sm);
    color: #f5f5f5;
    width: 100%;
}

textarea {
    resize: vertical;
    height: 100%;
    padding-inline: var(--spacing-sm);
}

:root {
    --surface-darker: #0a0a0a;
    --surface-dark: #202124;
    --surface-med: #363739;
    --surface-light: #444c4e;

    --blue: #4e9ff3;
    --magenta: #ff0ba0;
    --green: #0bffb0;
    --yellow: #ffc702;

    --primary: var(--blue);
    --primary-dark: #3a8fd1;
    --border-color: #444c4e;
    --txt: #f5f5f5;
    --txt-alt: #b0b0b0;
}

body {
    background-color: var(--surface-dark);
    color: var(--txt);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

label {
    color: var(--txt-alt);
    font-size: 1rem;
}